.search_donors_wrapper{
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 10px;
    height: 200px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
}

