#team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellow ; */
    margin-top: 30px;
}

.team_card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 70px 50px 70px;
    /* background-color: red; */
}

@media (max-width: 1184px) {
    .team_card_container {
        flex-wrap: wrap;
    }
}