.card{
    width: 320px;
    height: 400px;
    margin: 20px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}

.contestant_img{
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transition: 0.5s;
    object-fit: cover;
}

.constestant_intro{
    height: 18%;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    /* background: rgb(27, 27, 27, 0.5); */
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30PX rgba(0, 0, 0, 0.5);
    color: white;
    transition: 0.5s;
}

.card_h1{
    margin: 10px;
    font-size: 40px;
    font-weight: 300;
}

.card_p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.card:hover{
    cursor: pointer;
}

.card:hover .constestant_intro{
    height: 50%;
}

.card:hover .card_p{
    opacity: 1;
    visibility: visible;
}

.card:hover .contestant_img {
    transform: scale(1.02);
}

@media (max-width: 991px) {
    .card {
        width: 100%;
        height: 200px;
        /* margin: 5px; */
    }

    .constestant_intro{
        height: 20%;
    }

    .card:hover .constestant_intro{
        height: 70%;
    }

    .card_h1{
        font-size: 20px;
        margin: 4px;
    }

    .card_p{
        font-size: 14px;
        margin: 4px;
    }
}