footer {
    background: #111;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.footer-socials li {
    margin: 0 10px;
}

.footer-socials li a {
    text-decoration: none;
    display: inline-block;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}

.footer-socials li a:hover {
    transform: scale(0.5) translateY(-15px);
}

.footer-bottom {
    /* background: #000; */
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}